.section-testimonials {
  background-color: #fdf2e9;

  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.testimonial-name {
  font-size: 1.6rem;
  color: #696969;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
  /*na mundeson psh qe kur te bojm hover mos me dal jasht kornizave
   por mu bo scale vetem foto by self*/
}

.gallery-item img {
  /* display: block;  */
  width: 100%;

  transition: all 0.4s ease;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

.section-slider {
  background-color: #fdf2e9;
}

.slider-container {
  max-width: 110rem;
  margin: 0 auto;
  padding: 6.2rem 3.2rem;
}

.carousel-inner {
  border-radius: 1.2rem;
}

.slider-heading {
  font-weight: 500;
  color: #c23338;
}

.carousel-item {
  border-radius: 1.2rem;
}

.carousel-item img {
  object-fit: cover;
  border-radius: 1.2rem;
  width: 100%;
  height: 40rem;
}
